#n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8, #n9, #n0{
    background-color: cornflowerblue;
    height: 80px;
    width: 80px;
    font-size: 40px;
    border: "rigid";
    border-width: 5px;
    margin: -2px;
}
#mas, #igual{
    background-color:rgb(245, 122, 122);
    height: 80px;
    width: 80px;
    margin:-2px;
    font-size: 40px;
    border: "rigid";
    border-width: 5px;
}
#res{
    height: 25px;
    width: 230px;
    font-size: 25px;
}