body{
    background-color: rgb(174, 175, 87);
}

.botones{
    width:250px;
    font-size: 2rem;
    margin:10px;
    border:none;
    border-radius: 5px;
    padding:10px 15px;
}

.activo{
    background-color: rgb(87, 107, 175);
    color:rgb(209, 224, 236)    
}

.encima{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.desactivo{
    background-color: gray;
    color: rgb(80, 80, 80);
}