body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: rgb(255, 182, 72);
    font-size: 19px;
}

#num{
    font-size: 200px;
    background-color: rgb(71, 182, 90);
    margin-bottom: 50px;
    outline-style: solid;
    outline-width: 5px;
    box-shadow: rgba(0, 0, 0, 0.301) 20px 20px 15px;
    margin-right: 50px;
    padding: 30px 100px;
    margin-top: 75px
}

#tirar{
    font-size: 20px;
    background-color: rgb(221, 75, 75);
    padding: 20px;
    outline-style: solid;
    outline-width: 2px;
    margin: 3px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.301) 5px 5px 5px;
}
#dimensiones{
    font-size: 20px;
    background-color: rgb(84, 194, 157);
    padding: 20px;
    outline-style: solid;
    outline-width: 2px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.301) 5px 5px 5px;
}

#dados{
    background-color: rgb(236, 180, 76);
    width: 225px;
    height: 115px;
    margin: auto;
    visibility: hidden;
    outline: solid ;
}